body {
  overflow: auto;
}

.NavbarCustomized {
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  float: none;
  flex-direction: row;
  background-color: #131921;
  align-items: center;
  width: max-content;
  min-width: 100%;
}

.NavbarLink {
  color: #3f51b5;
  font-size: larger;
}
